@{
    ViewData["Title"] = "Successful Logout";
}

<h1>@ViewData["Title"]</h1>
<h4>You have successfully logged out.</h4>

@Html.ActionLink("Home", "Index")

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}}