@{
    ViewData["Title"] = "About";
}
<div class="jumbotron jumbotron-fluid zone" style="font-family: merriweather; background-color: #76a3fb;margin-top: 20px; padding: 20px;"> 
<h2>About me</h2>
<h6 class="text-left">I was born in Grand Rapids, MI, and I moved around a few times. I fell in love with computers in the 80s when my dad had a computer lab in his middle school. He brought me there and let me experiment, and I was hooked. This is truly when I started my career. I later went to Rochester Institute of Technology for some undergrad and finished my schooling at Indiana University of Pennsylvania. Many great memories have been made.</h6>
  <h2>Pittsburgh</h2>
  <h6 class="text-left">I moved to Pittsburgh in 2018 where I met my beautiful wife, Casey. I have been having a blast ever since I came here. She, myself, and my stepson, Jayce, are a motley crew that enjoy doing a number of thing around the city. Pittsburgh is like a small town and a metropolis at the same time, not to mention it is a serious tech hub.</h5>
  <img id="jumbo3" src="~/images/nickandcasey.jpg" asp-append-version="true"/>
</div>
<div class="row-md-15 text-center"> 
  <div class="col">
    <div class="row">
      <div class="col zone" style="background-color: #ffffff; margin: 10px; padding: 15px;">
        <h2 class="blurbtitle"ty>Aquariums</h2>
        <p class="blurb">I love all things aquatic, from plants to fishes to snails. I had six aquariums at one time, but now I only have three. Below is a link to a forum I was involved with that taught me so much about the hobby.</p>
        <p><a class="btn btn-default" href="https://www.fishlore.com" role="button">Fishlore&raquo;</a></p>
      </div>
      <div class="col zone" style="background-color: #ffffff; margin: 10px; padding: 15px;">
        <h2 class="blurbtitle">CSH</h2>
        <p class="blurb">During my time at RIT, I was a member of Computer Science House, and I still try to stay active. It is still going strong throughout the years. I was freshman year class president in 2000 and participated in projects while I was there.</p>
        <p><a class="btn btn-default" href="https://csh.rit.edu" role="button">Computer Science House&raquo;</a></p>
      </div>
      <div class="col zone" style="background-color: #ffffff; margin: 10px; padding: 15px;">
        <h2 class="blurbtitle">Fortnite</h2>
        <p class="blurb">I enjoy playing Fortnite with my stepson, Jayce. He always beats, but we have a great time. I watch him get Victory Royale after Victory Royale. He truly is on his way to becoming a video game expert, his dream job.</p>
        <p><a class="btn btn-default" href="https://www.epicgames.com" role="button">Epic Games&raquo;</a></p>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <script src="~/js/about.js" asp-append-version="true"></script>
}