@{
    ViewData["Title"] = "Home Page";
}
      <div class="jumbotron jumbotron-fluid zone" style="font-family: merriweather; background-color: #76a3fb;margin-top: 20px; border-radius: 30px; padding: 20px;"> 
          <h2 id="jumbo1">Introduction</h2>
          <h5 id="jumbo2"class="text-left">I am a highly dedicated and experienced software engineer and consultant with 9 years of increasing responsibilty in warehouse voice solutions, defense readiness applications and customer sales software support and development roles with a wide variety of development tools including C#.NET and Angular. I am seeking and aspire to assist with customer satisfaction by creating high quality products using the SDLC.</h5>
          <img id="jumbo3" src=".\images\mtwashington.jpg"></img>
      </div>
      <div class="row-md-15 text-center"> 
        <div class="col">
          <div class="row">
            <div class="col zone" style="border-radius: 30px; background-color: #fdfea4; margin: 10px; padding: 15px;">
              <h2 style="color: #111111">Prayer</h2>
              <p style="color: #222222; font-family: merriweather;">My wife and I have a small ministry. God has set us free from so much along with blessing us abundantly. We would like to give back to the community and people in need. If you feel like you are struggling, we would love to help, whether it be through encouraging you, praying for you, or connecting you to resources.</p>
              <p><a class="btn btn-default" href="https://renewalera.org" role="button">RenewalEra.Org&raquo;</a></p>
            </div>
            <div class="col zone" style="background-color: #fdfea4; border-radius: 30px; margin: 10px; padding: 15px;">
              <h2 style="color: #111111">Computers</h2>
              <p style="color: #222222; font-family: merriweather;">I love computers. Ever since I was young, I have been involved with computing in differenct ways. My father had a technology lab back in the 80s at his middle school where he taught. As soon as he could, he brought me there, and I fell in love. Consequently, I went RIT for my undergrad in 2000 and was an active member of Computer Science House.</p>
              <p><a class="btn btn-default" href="projects.html" role="button">Check out my projects&raquo;</a></p>
            </div>
            <div class="col zone" style="border-radius: 30px;  background-color: #fdfea4; margin: 10px; padding: 15px;">
              <h2 style="color: #111111">Music</h2>
              <p style="color: #222222; font-family: merriweather">I started producing music in 2000 and DJed for a little while under the name Underside. I took a hiatis for some years, but now I'm back with a vengeance. I have been working with Ableton Live for some time after a long stint with FLStudio making unique electronic tracks. Some of my favorite plugins are Valhalla Room Reverb and the Serum Synthesizer</p>
              <p><a class="btn btn-default" href="https://soundcloud.com/nikaotheovercomer" role="button">Nikao on Soundcloud&raquo;</a></p>
            </div>
          </div>
        </div>
      </div>